.flash {
  cursor: pointer;
}

.alert {
  z-index: 99999;

  .container {
    position: relative;
  }

  // regular flash message full-width-container, displayed full width
  // almost on top of the page
  .full-width-container {
    margin: -1px -10px 10px;
    padding: 5px 10px 5px 35px;
  }

  // fixed positioned flash message container, displayed at the very top of the page
  // as wide as the text, centered
  .fixed-flash {
    position: fixed;
    bottom: 10px; left: 0;
    z-index: 99999;

    .fixed-flash-inner {
      background: white;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0 3px 12px rgba(0,0,0,0.15);
      color: black;
      cursor: pointer;
      display: inline-block;
      padding: 5px 20px;
      margin-top: 15px;
      width: 240px;

      @include moveInLeft(0.6s);

      p {
        margin: 5px 0;
      }
    }
  }
}

// ember-cli-flash package doesn't currently support custom classes.
// but they will in their 2.0.0 release. https://github.com/poteto/ember-cli-flash/issues/99
// Once they do so, the following classes can be renamed after BEM standards  (ex: .alert--state-danger)
.alert-success {
  .full-width-container {
    background: $blue;
    color: white;
  }

  .fixed-flash-inner {
    border-top: 5px solid $blue;
  }
}

.alert-danger {
  .full-width-container {
    background: $red;
    color: white;
  }

  .fixed-flash-inner {
    border-top: 5px solid $red;
  }
}

.alert__close {
  color: white;
  left: -20px;
  padding: none;
  position: absolute;
  top: 0;
}
